section.text-result.container
    //- Change value below to trigger another text.
    +text-result(24)
    h3.result 5 Trees 🌲
    h4 This is the amount of carbon that 5 trees absorb in a year.
    h3.result 228kWh of energy ⚡
    h4 This is enough energy to power an entire household for 1 year.